
<div class="container">
    <div class="row">
        <div class="col-12 mt-4">
            <h5 class="title">Lista Productos</h5>
            <button type="button" class="btn btn-new"><strong class="plus">
                <fa-icon [icon]="faPlus"></fa-icon>
            </strong></button>
            <hr class="mb-0">
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Nombre</th>
                        <th scope="col">Precio</th>
                        <th scope="col">Detalle</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">1</th>
                        <td>Combo #1</td>
                        <td>Lps. 120</td>
                        <td> <button type="button" class="btn btn-ver">Ver</button></td>
                    </tr>
                    <tr>
                        <th scope="row">1</th>
                        <td>Combo #2</td>
                        <td>Lps. 120</td>
                        <td> <button type="button" class="btn btn-ver">Ver</button></td>
                    </tr>
                    <tr>
                        <th scope="row">1</th>
                        <td>Combo #3</td>
                        <td>Lps. 120</td>
                        <td> <button type="button" class="btn btn-ver">Ver</button></td>
                    </tr>
                    <tr>
                        <th scope="row">1</th>
                        <td>Combo #4</td>
                        <td>Lps. 120</td>
                        <td> <button type="button" class="btn btn-ver">Ver</button></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-sm-12 col-md-4 col-xl-4 ">
            <br><br><br><br>
        </div>
    </div>
</div>