<app-header></app-header>
<app-dashboard 
    (onVerEmpresas) = "verEmpresas($event)" 
    (onVerMotoristas) = "verMotoristas($event)" 
    (onVerOrdenes)="verOrdenes($event)"
    [ngClass]="{'visible':rv == 'dashboard', 'noVisible':rv!= 'dashboard'}"
></app-dashboard>
<app-empresas
    (onVerComidas) = "verComidas($event)"
    [ngClass]="{'visible':rv == 'empresas', 'noVisible':rv!= 'empresas'}"
></app-empresas>
<app-comidas
    (onVerProductos)="verProductos($event)"
    [ngClass]="{'visible':rv == 'comidas', 'noVisible':rv!= 'comidas'}"
></app-comidas>
<app-productos
    [ngClass]="{'visible':rv == 'productos', 'noVisible':rv!= 'productos'}"
></app-productos>
<app-motoristas
    [ngClass]="{'visible':rv == 'motoristas', 'noVisible':rv!= 'motoristas'}"
></app-motoristas>

<app-ordenes
    [ngClass]="{'visible':rv == 'ordenes', 'noVisible':rv!= 'ordenes'}"
></app-ordenes>
<app-footernav></app-footernav>
<router-outlet></router-outlet>
