<br>
<div class="container pl-4 pr-5">
    <div class="row">
        <div class="col-12">
            <h5 class="titles p-2"><strong style="font-size: xx-large">{{detalleMotorista.nombreUsuario}}</strong></h5>
        </div>
    </div>
    <div class="row">
        <div class="col-4">
            <img class="img-profile" [src]="'assets/'+detalleMotorista.UrlFoto" alt="">
        </div>
        <div class="col-8">
            <div class="row">
                <div class="col-12 ta-c"></div>
                <div class="col-6 ta-c">
                    <h6><strong *ngIf="detalleMotorista.ordenes">{{detalleMotorista.ordenes.length}}</strong></h6>
                    <p class="text-muted">Ordenes</p>
                </div>
                <div class="col-6">
                    <img style="width: 45px;" src="../../../assets/img/food-delivery.png" alt="">
                </div>
            </div>
        </div>
        <div class="col-12">
            <table class="table">
                <tbody>
                    <tr>
                        <th scope="row">ID Usuario</th>
                        <td>{{detalleMotorista._id}}</td>
                    </tr>
                    <tr>
                        <th scope="row">Correo</th>
                        <td>{{detalleMotorista.correoUsuario}}</td>
                    </tr>
                    <tr>
                        <th scope="row">Telefono</th>
                        <td>{{detalleMotorista.telefono}}</td>
                    </tr>
                    <tr>
                        <th scope="row">Descripcion</th>
                        <td>{{detalleMotorista.descripcion}}</td>
                    </tr>
                    <tr>
                        <th scope="row">Tipo Usuario</th>
                        <td>{{detalleMotorista.tipoUsuario}}</td>
                    </tr>
                    <tr>
                        <th scope="row">Direccion</th>
                        <td>{{detalleMotorista.pais}}, {{detalleMotorista.ciudad}}</td>
                    </tr>
                    <tr>
                        <th scope="row">Estado Solicitud</th>
                        <td>
                            <button *ngIf="!detalleMotorista.estado" type="button" class="btn btn-warning">Pendiente</button>
                            <button *ngIf="detalleMotorista.estado" type="button" class="btn btn-estado-a">Aprobado</button>
                        </td>
                    </tr>
                </tbody>
            </table>

        </div>
        <div class="col-12 ta-c">
            <button *ngIf="!detalleMotorista.estado" type="button" class="btn btn-success w-100" (click)="aprobarMotorista(detalleMotorista._id)"> Aprobar </button>
        </div>
    </div>
</div>
<br><br><br><br>