<div class="container">
    <div class="row">
        <div class="col-12 mt-4">
            <h5 class="title">Lista Motoristas</h5>
            <button type="button" class="btn btn-new"><strong class="plus">
                <fa-icon [icon]="faPlus"></fa-icon>
            </strong></button>
            <hr class="mb-0">
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Nombre</th>
                        <th scope="col">Estado</th>
                        <th scope="col">Detalle</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let mot of motoristas">
                        <th scope="row">{{mot.nombreUsuario}}</th>
                        <td>
                            <button *ngIf="!mot.estado" type="button" class="btn btn-warning">Pendiente</button>
                            <button *ngIf="mot.estado" type="button" class="btn btn-estado-a">Aprobado</button>
                        </td>
                        <td> <button (click)="verDetalleMotorista(mot)" type="button" class="btn btn-ver">Ver</button></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-sm-12 col-md-4 col-xl-4 ">
            <br><br><br><br>
        </div>
    </div>
</div>