

<div class="container">
    <div class="row">
        <div class="col-12 mt-4">
            <h5 class="title">Lista Motoristas</h5>
            <button type="button" class="btn btn-new"><strong class="plus">
                <fa-icon [icon]="faPlus"></fa-icon>
            </strong></button>
            <hr class="mb-0">
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Nombre</th>
                        <th scope="col">Estado</th>
                        <th scope="col">Detalle</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">1</th>
                        <td>Lorem ipsum</td>
                        <td><button type="button" class="btn btn-estado-a">Aprobado</button></td>
                        <td> <button type="button" class="btn btn-ver">Ver</button></td>
                    </tr>
                    <tr>
                        <th scope="row">1</th>
                        <td>Lorem ipsum</td>
                        <td><button type="button" class="btn btn-estado-p">Pendiente</button></td>
                        <td> <button type="button" class="btn btn-ver">Ver</button></td>
                    </tr>
                    <tr>
                        <th scope="row">1</th>
                        <td>Lorem ipsum</td>
                        <td><button type="button" class="btn btn-estado-a">Aprobado</button></td>
                        <td> <button type="button" class="btn btn-ver">Ver</button></td>
                    </tr>
                    <tr>
                        <th scope="row">1</th>
                        <td>Lorem ipsum</td>
                        <td><button type="button" class="btn btn-estado-a">Aprobado</button></td>
                        <td> <button type="button" class="btn btn-ver">Ver</button></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-sm-12 col-md-4 col-xl-4 ">
            <br><br><br><br>
        </div>
    </div>
</div>