<div class="container">
    <div class="row">
        <div class="col-12 mt-4">
            <div class="bd">
                <div class="row">
                    <h5 class="titles p-2"><strong>DETALLES DEL PEDIDO</strong></h5>
                    <table class="table table-striped p-4">
                        <tbody>
                            <tr>
                                <th scope="row"><a class="titles">Orden: </a></th>
                                <td>{{detalleOrden._id}}</td>
                            </tr>
                            <tr>
                                <th scope="row"><a class="titles">Origen: </a></th>
                                <td>{{detalleOrden.empresa}}</td>
                            </tr>
                            <tr>
                                <th scope="row"><a class="titles">Estado Orden: </a></th>
                                <td>{{detalleOrden.estadoOrden}}</td>
                            </tr>
                            <tr>
                                <th scope="row"><a class="titles"><a class="titles">Descripcion Pedido</a></a></th>
                                <td>{{detalleOrden.producto}} | Precio: {{detalleOrden.precioProducto}} | Cantidad: {{detalleOrden.cantidadProducto}}  </td>
                            </tr>
                            <tr>
                                <th scope="row"><a class="titles"><a class="titles">Tipo Entrega</a></a></th>
                                <td>{{detalleOrden.tipoEntrega}} </td>
                            </tr>
                            <tr>
                                <th scope="row"><a class="titles"><a class="titles">Tiempo Entrega</a></a></th>
                                <td>{{detalleOrden.tiempoEntrega}} </td>
                            </tr>
                            <tr>
                                <th scope="row"><a class="titles"><a class="titles">Descripcion Pedido</a></a></th>
                                <td>{{detalleOrden.descripcionPedido}} </td>
                            </tr>
                            <tr>
                                <th scope="row"><a class="titles"><a class="titles">Motorista Asignado</a></a></th>
                                <td>{{detalleOrden.nombreMotorista}}</td>
                            </tr>
                            
                        </tbody>
                    </table>
                </div>
            </div>
            
        </div>
        <div class="col-12 mt-4">
            <div class="bd">
                <div class="row">
                    <h5 class="titles p-2"><strong>INFORMACION CLIENTE</strong></h5>
                    <table class="table table-striped p-4">
                        <tbody>
                            <tr>
                                <th scope="row"><a class="titles">Nombre</a></th>
                                <td>{{detalleOrden.nombreCliente}}</td>
                            </tr>
                            <tr>
                                <th scope="row"><a class="titles">Telefono</a></th>
                                <td>{{detalleOrden.telefonCliente}}</td>
                            </tr>
                            <tr>
                                <th scope="row"><a class="titles">Direccion Envio </a></th>
                                <td>{{detalleOrden.direccioncliente}}</td>
                            </tr>              
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-12 mt-4">
            <div class="container">
                <div class="row bd">
                    <div class="row">
                        <h5 class="titles p-2"><strong>RESUMEN DEL PEDIDO</strong></h5>
                        <table class="table table-striped p-4">
                            <tbody>
                                <tr>
                                    <th scope="row"><a class="titles">Metodo de Pago</a></th>
                                    <td>Visa 4352*********</td>
                                </tr>
                                <tr>
                                    <th scope="row"><a class="titles">Sub Total</a></th>
                                    <td>L191.30</td>
                                </tr> 
                                <tr>
                                    <th scope="row"><a class="titles">15% ISV</a></th>
                                    <td>L28.70</td>
                                </tr>
                                <tr>
                                    <th scope="row"><a class="titles">Comision VejaApp</a></th>
                                    <td>L5.20</td>
                                </tr>  
                                <tr>
                                    <th scope="row"><a class="titles">Comision Motorista</a></th>
                                    <td>L30</td>
                                </tr>  
                                <tr>
                                    <th scope="row"><a class="titles">Total</a></th>
                                    <td>L255.20</td>
                                </tr>             
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div *ngIf="detalleOrden.estadoOrden == 'origen'" class="col-12 mt-4 mb-4">
            <button type="button" class="btn btn-tomar-pedido ml-2">Asignar Motorista</button>
        </div>
        <div class="col-sm-12 col-md-4 col-xl-4 ">
            <br><br><br><br>
        </div>
    </div>
</div>