<div class="container">
    <div class="row">
        <div class="col-12 mt-4">
            <div class="bd">
                <div class="row">
                    <h5 class="titles p-2"><strong>DETALLES DEL PEDIDO</strong></h5>
                    <table class="table table-striped p-4">
                        <tbody>
                            <tr>
                                <th scope="row"><a class="titles">Orden: </a></th>
                                <td>611936b36d7b3f549e1e37f6</td>
                            </tr>
                            <tr>
                                <th scope="row"><a class="titles">Origen: </a></th>
                                <td>Pizza Hut Aeropuerto</td>
                            </tr>
                            <tr>
                                <th scope="row"><a class="titles">Estado Pedido: </a></th>
                                <td>En origen</td>
                            </tr>
                            <tr>
                                <th scope="row"><a class="titles"><a class="titles">Descripcion Pedido</a></a></th>
                                <td>Pedido de Combo #4, pizza gigante con alitas</td>
                            </tr>
                            <tr>
                                <th scope="row"><a class="titles"><a class="titles">Fecha:</a></a></th>
                                <td>12/12/12 12:52:23 pm</td>
                            </tr>
                            
                        </tbody>
                    </table>
                </div>
            </div>
            
        </div>
        <div class="col-12 mt-4">
            <div class="bd">
                <div class="row">
                    <h5 class="titles p-2"><strong>INFORMACION CLIENTE</strong></h5>
                    <table class="table table-striped p-4">
                        <tbody>
                            <tr>
                                <th scope="row"><a class="titles">Nombre</a></th>
                                <td>Victor Amaya</td>
                            </tr>
                            <tr>
                                <th scope="row"><a class="titles">Telefono</a></th>
                                <td>9999-9999</td>
                            </tr>
                            <tr>
                                <th scope="row"><a class="titles">Direccion Envio </a></th>
                                <td>Residencial Santa Cruza, Bloque BB-1 Casa #1</td>
                            </tr>              
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-12 mt-4">
            <div class="container">
                <div class="row bd">
                    <div class="row">
                        <h5 class="titles p-2"><strong>RESUMEN DEL PEDIDO</strong></h5>
                        <table class="table table-striped p-4">
                            <tbody>
                                <tr>
                                    <th scope="row"><a class="titles">Metodo de Pago</a></th>
                                    <td>Visa 4352*********</td>
                                </tr>
                                <tr>
                                    <th scope="row"><a class="titles">Sub Total</a></th>
                                    <td>L191.30</td>
                                </tr> 
                                <tr>
                                    <th scope="row"><a class="titles">15% ISV</a></th>
                                    <td>L28.70</td>
                                </tr>
                                <tr>
                                    <th scope="row"><a class="titles">Comision VejaApp</a></th>
                                    <td>L5.20</td>
                                </tr>  
                                <tr>
                                    <th scope="row"><a class="titles">Comision Motorista</a></th>
                                    <td>L30</td>
                                </tr>  
                                <tr>
                                    <th scope="row"><a class="titles">Total</a></th>
                                    <td>L255.20</td>
                                </tr>             
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 mt-4 mb-4">
            <button type="button" class="btn btn-tomar-pedido" (click)="verOrdenes()"> Atras</button>
            <button type="button" class="btn btn-tomar-pedido ml-2">Asignar Motorista</button>
        </div>
        <div class="col-sm-12 col-md-4 col-xl-4 ">
            <br><br><br><br>
        </div>
    </div>
</div>