<div class="container">
    <div class="row">
        <div class="col-12 mt-4">
            <h5 class="title">Comercios</h5>
            <hr class="">
        </div>
    </div>
    <div class="row">
        <div *ngFor="let comercio of comercios" class="col-xs-6 col-md-3 col-xl-3">
            <div class="card mb-3 bc-card " style="height: 100%;" (click)="verDetalleEmpresa(comercio)">
                <img [src]="'assets/'+comercio.imagenComercio" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title mb-0">{{comercio.nombreEmpresa}}</h5>
                    <p class="card-text"><small class="text-muted">{{comercio.tipoEmpresa}} || {{comercio.sedePais}}</small></p>
                </div>
            </div>
        </div>
        
        <div class="col-6 col-md-3 col-xl-3 ">
            <br><br><br><br>
        </div>
    </div>
</div>