.imgRedonda {
    width:250px;
    height:250px;
    border-radius:150px;
    border:3px solid #FB1D5A;
}

.img-flotante{
    position: absolute;
    top: 400px;
    right: 0;
    bottom: 0;
    left: 390px;
    padding: 1.25rem;
    border-radius: calc(.25rem - 1px);
}

.btn-ver{
    background-color:#fb1d5a ;
    color: white;
}

.txt-w{
    color: white;
}
.title{
    font-size: x-large;
    font-weight: bold;
    color: #cb0038;
}

.ta-c{
    text-align: center;
}