<div class="container">
    <div class="row">
        <div class="col-12 mt-4">
            <h5 class="title">Restaurantes</h5>
            <hr class="mb-0">
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 col-md-4 col-xl-4 ">
            <div class="card mb-3 bc-card " (click)="verProductos()">
                <img src="../../../assets/img/bk.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title mb-0">Burger King</h5>
                    <p class="card-text"><small class="text-muted">Hamburguesas, sandwich...</small></p>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-4 col-xl-4 ">
            <div class="card mb-3 bc-card" (click)="verProductos()">
                <img src="../../../assets/img/wendys.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title mb-0">Wendys</h5>
                    <p class="card-text"><small class="text-muted">Hamburguesas, sandwich...</small></p>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-4 col-xl-4 ">
            <div class="card mb-3 bc-card" (click)="verProductos()">
                <img src="../../../assets/img/pizza-hut.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title mb-0">Pizza Hut</h5>
                    <p class="card-text"><small class="text-muted">Hamburguesas, sandwich...</small></p>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-4 col-xl-4 ">
            <br><br><br><br>
        </div>
    </div>
</div>