.title{
    color: #FB1D5A;
    font-weight: 900;
    font-size: 24px;
    text-align: center;
}

.btn-ver{
    background-color: #FB1D5A;
    color: white;
}

.btn-new{
    background-color: #00cd3b;
    color: white;
    position: fixed;
    bottom: 80px;
    right: 25px;
    border-radius: 30px;
}

.plus{
    font-size:larger;
    font-weight: bold;

}

.btn-estado-a{
    background-color: #09b93c;
    color: white;
}

.btn-estado-p{
    background-color: #ff7e04;
    color: white;
}

.body{
    background-color: #f8f9fa;
}
.footer{
    padding: 0!important;
}

.cd{
    background-color: #fff1f5;
}

.btn-pedido{
    background-color: #fb1d5a;
}

.title{
    color: #FB1D5A;
    font-weight: 900;
    font-size: 24px;
    text-align: center;
}

.ttd{
    color: #8A0017;
    font-weight: 900;
    font-size: 15px;
    text-align: center;
}

.info{
    font-size: smaller;
}

.hola{
    font-size: x-large;
    font-weight:bold ;
}

.btn-ordenes{
    color: #fff;
    background-color: #fb1d5a;
    border-color: #fb1d5a;
}

.img-ord{
    width: 70%;
}

.dv-img{
    text-align: center;
}