<div class="container">
    <div class="row">
        <div class="col-12 mt-4">
            <h5 class="title">Lista Ordenes</h5>
            <button type="button" class="btn btn-new"><strong class="plus">
                <fa-icon [icon]="faPlus"></fa-icon>
            </strong></button>
            <hr class="mb-0">
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col"><small><strong>ID</strong></small></th>
                        <th scope="col"><small><strong>Cliente</strong></small></th>
                        <th scope="col"><small><strong>Estado</strong></small></th>
                        <th scope="col"><small><strong>Ver</strong></small></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">1</th>
                        <td>Lacho</td>
                        <td><button type="button" class="btn btn-estado-a"><small>En Origen</small></button></td>
                        <td> <button type="button" class="btn btn-ver">Ver</button></td>
                    </tr>
                    <tr>
                        <th scope="row">2</th>
                        <td>Lacho</td>
                        <td><button type="button" class="btn btn-estado-a"><small>En Origen</small></button></td>
                        <td> <button type="button" class="btn btn-ver">Ver</button></td>
                    </tr>
                    <tr>
                        <th scope="row">3</th>
                        <td>Lacho</td>
                        <td><button type="button" class="btn btn-estado-a"><small>En Origen</small></button></td>
                        <td> <button type="button" class="btn btn-ver">Ver</button></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-sm-12 col-md-4 col-xl-4 ">
            <br><br><br><br>
        </div>
    </div>
</div>