<div class="container pl-5 pr-5">
    <div class="row">
        <div class="col-12 mt-4">
            <h5 class="hola title">Historial de Ordenes</h5>
            <hr class="mb-0">
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <table class="table">
                <tbody>
                    <tr>
                        <th scope="row">Ordenes Tomadas</th>
                        <td>12</td>
                        <td><button (click)="verOrdenesTomadas()" type="button" class="btn btn-primary">Ver</button></td>
                    </tr>
                    <tr>
                        <th scope="row">Ordenes Entregadas</th>
                        <td>345</td>
                        <td><button (click)="verOrdenesEntregadas()" type="button" class="btn btn-primary">Ver</button></td>
                    </tr>
                    <tr>
                        <th scope="row">Ordenes Disponibles</th>
                        <td>12</td>
                        <td><button (click)="verOrdenesDisponibles()" type="button" class="btn btn-primary">Ver</button></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<br><br><br>